#blogs {
  .blogs__content {
    @apply col-span-full flex flex-col gap-4 my-[6.4rem] mx-auto w-full;
  }

  .card-blog {
    @apply relative rounded-[0.8rem] isolate;

    &__img {
      @apply w-full h-full pt-[2.4rem] px-[2.4rem] pb-0;
    }

    &__content {
      @apply relative p-[2.4rem] pb-[1.6rem] bg-[var(--c-bg-card)] rounded-b-[0.8rem] min-h-[14.2rem];
    }
  }
}
