{% assign blogs = site.blogs | where: "lang", site.lang | sort: "order" %}
<section id="blogs" class="modul equip">
  <!-- Contingut del modul -->
  <div class="modul__grid">
    <header class="modul__header blogs__header">
      <h2>{% t home.blogs.title %}</h2>
      <p>{% t home.blogs.description %}</p>
    </header>
    <div class="blogs__content col-span-full grid grid-cols-1 gap-4 my-[6.4rem] mx-auto w-full">
      {% for blog in blogs %}
        <div class="card-blog relative rounded-[0.8rem] isolate">
          <div class="card-blog__img relative isolate flex justify-center overflow-hidden w-full h-full pt-[2.4rem] px-[2.4rem] pb-0">
            <img src="{{ blog.image | relative_url }}" alt="{{ blog.title }}" />
          </div>
          <div class="card-blog__content relative p-[2.4rem] pb-[1.6rem] bg-[var(--c-bg-card)] rounded-b-[0.8rem] min-h-[14.2rem]">
            <h3 class="card-blog__date text-lg text-gray">{{ blog.date | date: "%-d %b %Y" }}</h3>
            <a href="{{ blog.url | relative_url }}" class="card-blog__title text-xl">{{ blog.title }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>