<section id="clients" class="modul clients">
  <!-- Contingut del modul -->
  <div class="modul__grid">
    <div class="clients__img"><img src="/assets/img/clients.png" alt="" /></div>
    <header class="modul__header clients__header">
      <h2>{% t home.clients.title %}</h2>
      <p>
        <!--
We collaborate with <span class="destecat--negatiu">public institutions</span>,
<span class="destecat--negatiu">cooperatives</span>,
<span class="destecat--negatiu">social movements</span> and other
<span class="destecat--negatiu">community organizations</span>.
-->
        {% t home.clients.description %}
      </p>
    </header>
    <div class="clients__logos">
      <div class="clients__logos__container">
        <img
          src="/assets/img/clients/ajuntament_hospitalet.svg"
          title="Ajuntament de l'Hospitalet"
          alt="Ajuntament de l'Hospitalet"
        />
        <img src="/assets/img/clients/getxo.svg" title="Getxo" alt="Getxo" />
        <img
          src="/assets/img/clients/ajuntament_olesa.svg"
          title="Ajuntament d'Olesa de Montserrat"
          alt="Ajuntament d'Olesa de Montserrat"
        />
        <img src="/assets/img/clients/somenergia.svg" title="Som energia alt="Som energia" />
        <img src="/assets/img/clients/statzofluzern.svg" title="Stadt of Luzern" alt="Stadt of Luzern" />
        <img src="/assets/img/clients/coopcat.svg" title="Coopcat" alt="Coopcat" />
        <img src="/assets/img/clients/colectic.svg" title="Colectic" alt="Colectic" />
        <img src="/assets/img/clients/decidim.svg" title="Decidim" alt="Decidim" />
        <img src="/assets/img/clients/pemb.svg" title="PEMB" alt="PEMB" />
        <img
          src="/assets/img/clients/forum.svg"
          title="Fòrum de la Juventut d'Andorra"
          alt="Fòrum de la Juventut d'Andorra"
        />
        <img src="/assets/img/clients/green.svg" title="Green Party of Canada" alt="Green Party of Canada" />
        <img src="/assets/img/clients/opensource.svg" title="OpensourcePolitics" alt="OpensourcePolitics" />
        <img src="/assets/img/clients/seidor.svg" title="Seidor Opentrends" alt="Seidor Opentrends" />
        <img src="/assets/img/clients/ajuntamentbcn.svg" title="Ajuntament de Barcelona" alt="Ajuntament de Barcelona" />
        <img
          src="/assets/img/clients/europeancapitalofdemocracy.svg"
          title="European Capital of democracy"
          alt="European Capital of democracy"
        />
      </div>
    </div>
    <div class="modul__header clients__header-2">
      <p>{% t home.clients.title %}</p>
    </div>
    <div id="slider-clients" class="modul__content--slider clients__slider">
      <!-- Add Arrows & Pagination -->
      <div class="swiper-navigation">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev">
          <span class="icon medium icon-arrow--left"></span><span class="icon small icon-arrow--left"></span>
        </div>
        <div class="swiper-button-next">
          <span class="icon medium icon-arrow--right"></span><span class="icon small icon-arrow--right"></span>
        </div>
      </div>
      <!-- Cards -->
      <div class="cards-clients swiper-wrapper">
        <div class="card-comentari swiper-slide">
          <div class="card-comentari__avatar">
            <div class="card-comentari__imatge"><img src="/assets/img/clients/getxo_color.svg" alt="" /></div>
            <div class="card-comentari__box">
              <h3 class="card-comentari__nom">Pedro Goicolea</h3>
              <h4 class="card-comentari__carrec">Getxo Town Hall</h4>
            </div>
          </div>
          <div class="card-comentari__text">
            <p>
              It will be the second anniversary since the Getxo City Council joined the Decidim universe, creating
              its participation site <a href="https://zeugaz.getxo.eus/" target="_blank">www.zeugaz.getxo.eus</a>.
              And from our first steps, before activating the page, Ivan and Pau were our Jedi Masters. We were their
              humble padawans. Always friendly, attentive, available and precise. Guiding us on a path we were
              unaware of. But… they left. They left to fly free, to open their own company. We wished them the best
              and told them to have a wonderful time and those things you say when you miss someone before they
              leave.
            </p>

            <p>
              Just to say that we are with both of them again, in their new phase of Pokecode. There must be a
              reason! We have returned to them and we verify that they are still just as friendly, attentive,
              available and precise as before. Good luck on your new journey.
            </p>
          </div>
        </div>
        <div class="card-comentari swiper-slide">
          <div class="card-comentari__avatar">
            <div class="card-comentari__imatge"><img src="/assets/img/clients/somenergia_color.svg" alt="" /></div>
            <div class="card-comentari__box">
              <h3 class="card-comentari__nom">Mònica Gifreu</h3>
              <h4 class="card-comentari__carrec">Som Energia Team</h4>
            </div>
          </div>
          <div class="card-comentari__text">
            <p>
              At <b>Som Energia</b> we work with Pokecode, for their commitment in the development of Decidim, as an
              official partner, and because we trust in their professionalism, the result of a shared experience. His
              service involves a close relationship, on a day-to-day basis, with an agile way of working and, in the
              longer term, we know that they have the necessary expertise to make Decidim, more and more, a tool for
              organizations.
            </p>
          </div>
        </div>
        <div class="card-comentari swiper-slide">
          <div class="card-comentari__avatar">
            <div class="card-comentari__imatge">
              <img src="/assets/img/clients/stadtofluzern_color.svg" alt="Stadt of Luzern" />
            </div>
            <div class="card-comentari__box">
              <h3 class="card-comentari__nom">Nadja von Ballmoos</h3>
              <h4 class="card-comentari__carrec">Stadt of Luzern</h4>
            </div>
          </div>
          <div class="card-comentari__text">
            <p>
              I really like to work with Ivan and Pau because they act as partners, not just contractors. It is of
              great value to me that they proactively share their thoughts about our requirements and therewith
              proved their deep understanding of Decidim.
            </p>
          </div>
        </div>
        <div class="card-comentari swiper-slide">
          <div class="card-comentari__avatar">
            <div class="card-comentari__imatge">
              <img src="/assets/img/clients/green_color.svg" alt="Green Party Canada" />
            </div>
            <div class="card-comentari__box">
              <h3 class="card-comentari__nom">John Willson</h3>
              <h4 class="card-comentari__carrec">Co-President of the GPC Fund</h4>
            </div>
          </div>
          <div class="card-comentari__text">
            <p>
              As a telecoms product manager, I managed software development from teams based in the US, the UK,
              Germany, Israel and China. Pokecode consistently meets or surpasses the standards of those teams,
              delivering software reliably and responsibly; ahead of time, under budget and with clear accountable
              reporting. The caring, friendly attitude of the Pokecode team makes collaboration with them a joy and
              we consider our selection of them as a key factor in the success of the decidim project. We literally
              couldn't have done it without them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
window.addEventListener("load", () => {
  const swiper = new Swiper("#slider-clients", {
    autoplay: true,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 16,
      },
      768: {
        slidesPerView: 1,
        spaceBetween: 32,
      },
      1024: {
        slidesPerView: 1,
        spaceBetween: 32,
      },
      1440: {
        slidesPerView: 1,
        spaceBetween: 32,
      },
      1920: {
        slidesPerView: 2,
        spaceBetween: 32,
      },
    },
  });
});
</script>
