<footer id="contacte" class="modul footer">
  <div class="modul__grid">
    <div class="footer__logo"><span class="icon icon-pokecode"></span></div>
    <p class="footer__adreca-1">
      {% t home.footer.address %}
    </p>
    <p class="footer__adreca-2"> {% t home.footer.phone %} <br /><a href="mailto:info@pokecode.net"> info@pokecode.net</a></p>
    <div class="footer__xarxes">
      <p>{% t home.footer.follow %}</p>
      <ul>
        <li>
          <a href="https://github.com/openpoke" target="_blank"><span class="icon icon-github"></span></a>
        </li>
        <li>
          <a href="https://meta.decidim.org/profiles/Pokecode/members?locale=ca" target="_blank"
          ><span class="icon icon-decidim-ico"></span
            ></a>
        </li>
      </ul>
    </div>
    <div class="footer__legal">
      <p>{% t home.footer.legal %}</p>
      <ul class="footer__legal-menu">
        <li><a href="privacy_policy">Privacy policy</a></li>
        <li><a href="legal_notice">Legal notice</a></li>
      </ul>
    </div>
  </div>
</footer>
