<section class="home-hero">
  <div class="home-hero__grid">
    <div class="home-hero__text">
      <h1>{% t home.hero.title %}</h1>
    </div>
    <div class="home-hero__img"><img src="/assets/img/Portada.webp" role="presentation" alt=""/></div>
  </div>
  <a href="https://decidim.org/partners/" target="_blank">
    <div class="home-hero__banner">
      <div class="big">{% t home.hero.partner.number %}</div>
      <p>{% t home.hero.partner.text %}</p>
      <div class="icon small icon-decidim"></div>
    </div>
  </a>
</section>

