<nav id="site-navigation" class="main-navigation">
  <!-- Boto Burger -->
  <button class="btn-burger menu-toggle" aria-controls="primary-menu" aria-expanded="false">
    <span class="icon icon-burger"></span><span class="icon icon-close"></span>
  </button>
  <!-- ...Boto Burger -->
  <div id="container-menu" class="safe-area--mobile">
    <!-- Menú -->
    <ul id="primary-menu" class="navbar-nav nav-menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="/#serveis" class="nav-link">{% t home.services.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="/#clients" class="nav-link">{% t home.clients.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="/#equip" class="nav-link">{% t home.team.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="/blog" target="_blank" rel="noopener noreferrer" class="nav-link">{% t home.blog.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="/#contacte" class="nav-link">Contact</a>
      </li>
    </ul>
    <!-- Idiome -->
    <ul id="secundary-menu" class="navbar-nav nav-menu">
      <li class="menu-item-has-children dropdown">
        <span>{% t site.lang %}</span>
        <ul class="dropdown-menu">
          <li>
            <a href="/ca">{% t ca %}</a>
          </li>
          <li>
            <a href="/es">{% t es %}</a>
          </li>
          <li>
            <a href="/en">{%t en %}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- ...Menu -->

