<nav id="site-navigation" class="main-navigation">
  <!-- Boto Burger -->
  <button class="btn-burger menu-toggle" aria-controls="primary-menu" aria-expanded="false">
    <span class="icon icon-burger"></span><span class="icon icon-close"></span>
  </button>
  <!-- ...Boto Burger -->
  <div id="container-menu" class="safe-area--mobile">
    <!-- Menú -->
    <ul id="primary-menu" class="navbar-nav nav-menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="#serveis" class="nav-link">{% home.services.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="#clients" class="nav-link">{% home.clients.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="#equip" class="nav-link">{% home.team.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="#contacte" class="nav-link">Contact</a>
      </li>
    </ul>
    <!-- Idiome -->
    <ul id="secundary-menu" class="navbar-nav nav-menu">
      <li class="menu-item-has-children dropdown">
        <span>En</span>
        <ul class="dropdown-menu">
          <li>
            <a href="/ca">Ca</a>
          </li>
          <li>
            <a href="/es">Es</a>
          </li>
          <li>
            <a href="/en">En</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- ...Menu -->

