{% assign base_url = page.url | remove_first: '/en' | remove_first: '/es' %}
{% assign ca_url = base_url %}
{% assign en_url = '/en' | append: base_url %}
{% assign es_url = '/es' | append: base_url %}

{% case site.lang %}
  {% when 'en' %}{% assign lang_home = '/en' %}
  {% when 'es' %}{% assign lang_home = '/es' %}
  {% else %}{% assign lang_home = '' %}
{% endcase %}

<nav id="site-navigation" class="main-navigation">
  <!-- Boto Burger -->
  <button class="btn-burger menu-toggle" aria-controls="primary-menu" aria-expanded="false">
    <span class="icon icon-burger"></span><span class="icon icon-close"></span>
  </button>
  <!-- ...Boto Burger -->
  <div id="container-menu" class="safe-area--mobile">
    <!-- Menú -->
    <ul id="primary-menu" class="navbar-nav nav-menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="{{ lang_home }}/#serveis" class="nav-link">{% t home.services.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="{{ lang_home }}/#clients" class="nav-link">{% t home.clients.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="{{ lang_home }}/#equip" class="nav-link">{% t home.team.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="{{ lang_home }}/#blog" class="nav-link">{% t home.blog.title %}</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
        <a href="{{ lang_home }}/#contacte" class="nav-link">Contact</a>
      </li>
    </ul>
    <!-- Idiome -->
    <ul id="secundary-menu" class="navbar-nav nav-menu">
      <li class="menu-item-has-children dropdown">
        <span>{% t site.lang %}</span>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ ca_url }}">{% t ca %}</a>
          </li>
          <li>
            <a href="{{ es_url }}">{% t es %}</a>
          </li>
          <li>
            <a href="{{ en_url }}">{%t en %}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- ...Menu -->

