<section id="serveis" class="modul serveis">
  <!-- Contingut del modul -->
  <div class="modul__grid">
    <header class="modul__header">
      <h2>{% t home.services.title %}</h2>
      <p>
        <!--
We create applications based on
<span class="destecat">Decidim software<span class="asterisc">*</span></span> and
<span class="destecat">Ruby on Rails</span>. Our specialties are:
-->
        {% t home.services.description %}
      </p>
    </header>
    <p class="small">
      <!--
<span class="asterisc">*</span> 3% of each budget for Decidim services is given to the Decidim Association for
the official maintenance of the project.
-->
      {% t home.services.note %}
    </p>
    <div id="slider-serveis" class="modul__content--slider">
      <!-- Add Arrows & Pagination -->
      <div class="swiper-navigation">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev">
          <span class="icon medium icon-arrow--left"></span><span class="icon small icon-arrow--left"></span>
        </div>
        <div class="swiper-button-next">
          <span class="icon medium icon-arrow--right"></span><span class="icon small icon-arrow--right"></span>
        </div>
      </div>
      <!-- Cards -->
      <div class="cards serveis swiper-wrapper">
        <div class="card swiper-slide">
          <div class="card__imatge"><img src="/assets/img/installacio.png" alt="" /></div>

          <h3 class="card__titol">Quick installation</h3>
          <p class="card__text">
            We guarantee a fast and secure installation on our server or on your hosting. A test environment and a
            production environment are provided
          </p>
        </div>
        <div class="card swiper-slide">
          <div class="card__imatge"><img src="/assets/img/max_adaptacio.png" alt="" /></div>

          <h3 class="card__titol">Adaptability at the highest level</h3>
          <p class="card__text">
            We adapt, improve and develop the registration system, verification and participation modules based on
            the needs of each type of organization
          </p>
        </div>
        <div class="card swiper-slide">
          <div class="card__imatge"><img src="/assets/img/experiencia.png" alt="" /></div>

          <h3 class="card__titol">Unique experience</h3>
          <p class="card__text">
            Your Decidim, your look and feel. Your Decidim, your priorities. With our Agile methodology you will
            participate in the evolution of the project
          </p>
        </div>
        <div class="card swiper-slide">
          <div class="card__imatge"><img src="/assets/img/creadors.png" alt="" /></div>

          <h3 class="card__titol">Creators of Decidim Awesome</h3>
          <p class="card__text">
            Our priority is always to make Decidim more usable and give more flexibility to the administrator. The
            ever-evolving Swiss army knife that every platform admin needs
          </p>
        </div>
        <div class="card swiper-slide">
          <div class="card__imatge"><img src="/assets/img/suport.png" alt="" /></div>

          <h3 class="card__titol">Technical support and personalized consulting</h3>
          <p class="card__text">
            Our values are: work with quality, treat the team well and treat the customer well. We don't like to talk
            with technical vocabulary, but we do love to transform political challenges into technological solutions!
          </p>
        </div>
        <div class="card swiper-slide">
          <div class="card__imatge"><img src="/assets/img/comunitat.png" alt="" /></div>

          <h3 class="card__titol">International Community</h3>
          <p class="card__text">
            Welcome to open source! We share and cooperate with other organizations in the community. We are
            promoters of the international network of suppliers Decidim: DICE
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
window.addEventListener("load", () => {
  const swiper = new Swiper("#slider-serveis", {
    autoplay: false,
    loop: false,
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 16,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 32,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 32,
      },
      1440: {
        slidesPerView: 3,
        spaceBetween: 32,
      },
      1920: {
        slidesPerView: 4,
        spaceBetween: 32,
      },
    },
  });
});
</script>

